<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>Главная страница</title>
  <link type="text/css" href="{% static 'study_app/css/bootstrap.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'study_app/css/fontawesome.min.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'study_app/css/main.css' %}" rel="stylesheet">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="">
        <a class="navbar" href="#">study</a>
      </div>
      <div class=".navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Домой</a></li>
          <li><a href="#">Про нас</a></li>
          <li><a href="#">Сервсиы</a></li>
          <li><a href="#">Работы</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>