<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преподаваемые курсы</title>
    {% load static %}
    <link rel="icon" href="study_app/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <!-- Навигация -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Онлайн Курсы</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/ads">Курсы</a>
                </li>
                {% if request.user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="/lk">Личный кабинет</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Регистрация</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <!-- Курсы -->
    <div class="container mt-5">
        <h2>Преподаваемые курсы</h2>

        {% if error %}
            <h4 style="color: red">{{ error_msg }}</h4>
        {% endif %}

        {% if success %}
            <h4 style="color: green">{{ msg }}</h4>
        {% endif %}

        <div>
            <!-- Пример курса -->
            {% for c in courses %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ c.name }}</h5>
                    <p class="card-text">{{ c.description }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Категория: {{ c.category_id__name }}</li>
                        <li class="list-group-item">Цена: {{ c.price }}</li>
                        <li class="list-group-item">Срок обучения: {{ c.duration }}</li>
                    </ul>
                    <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#registrationModal" onclick="send_course_info({{ c.id }}, {{ c.teacher_id_id }})">
                        Записаться
                    </button>
                </div>
            </div>
            <br>
            {% endfor %}

        </div>
    </div>

    <!-- Модальное окно для формы записи -->
    <div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrationModalLabel">Записаться на курс</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="courseForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="date">Дата занятия</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="time">Время занятия</label>
                            <input type="time" class="form-control" id="time" name="time" required>
                        </div>
                        <div class="form-group">
                            <label for="comment">Комментарий к заявке</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label for="id_course"></label>
                            <textarea class="form-control" id="id_course" name="id_course" rows="3"></textarea>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label for="teacher_id"></label>
                            <textarea class="form-control" id="teacher_id" name="teacher_id" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Сценарии -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        function send_course_info(course_id, teacher_id) {
            let id_elem = document.getElementById("id_course");
            let teacher_id_elem = document.getElementById("teacher_id");
            id_elem.value = course_id;
            teacher_id_elem.value = teacher_id;
        }
    </script>

</body>
</html>
